/3rdparty/*/*/*
/3rdparty/tests/*
/.idea/
*.apk
*.zip
3rdparty/libwebp/*
3rdparty/OpenCV-android-sdk/*
/*/*/build
/*/*/.cxx
/RealSR-NCNN-Android-GUI/app/debug
*.log
/RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/.vs/jni
/RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/.vs
/RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/out
RealSR-NCNN-Android-GUI/.idea/CopilotChatHistory.xml
RealSR-NCNN-Android-GUI/.idea/easycode.ignore
RealSR-NCNN-Android-GUI/.idea/misc.xml
RealSR-NCNN-Android-GUI/.idea/easycode/codebase-v2.xml
/RealSR-NCNN-Android-GUI/.idea/easycode
/RealSR-NCNN-Android-CLI/*/release
3rdparty/*.mnn
3rdparty/*
RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/build/*
RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/my_app/*
/RealSR-NCNN-Android-CLI/build
