/3rdparty/*/*/*
/3rdparty/tests/*
/.idea/
*.apk
*.zip
3rdparty/libwebp/*
3rdparty/OpenCV-android-sdk/*
/*/*/build
/*/*/.cxx
/RealSR-NCNN-Android-GUI/app/debug
*.log
/RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/.vs/jni
/RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/.vs
/RealSR-NCNN-Android-CLI/MNN-SR/src/main/jni/out
